@inject UserManager<Information_system_i_ASP.Net.Models.Employee> UserManager
@inject SignInManager<Information_system_i_ASP.Net.Models.Employee> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Oskars åkeri AB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Information_system_i_ASP.Net.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/car.jpg" alt="Company Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Driver" asp-action="Index">
                                <i class="fas fa-truck"></i>Drivers
                            </a>
                        </li>
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))

                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Employee" asp-action="Index">
                                    <i class="fas fa-users"></i>Manage Employees
                                </a>
                            </li>
                        }
                    </ul>
                    <div class="user-nav">
                        @if (User.Identity.IsAuthenticated)

                        {
                            <div class="user-info">
                                <i class="fas fa-user"></i>
                                <span>@User.Identity.Name</span>
                            </div>
                            <form asp-area="Identity" asp-page="/Account/Logout" method="post" class="d-inline">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-sign-out-alt"></i>Logout
                                </button>
                            </form>
                        }

                        else

                        {
                            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">
                                <i class="fas fa-sign-in-alt"></i>Login
                            </a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    &copy; @DateTime.Now.Year - Oskars åkeri AB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
                <div class="col-md-6">
                    <div class="social-links float-md-end">
                        <a href=https://www.facebook.com/oskar.johansson.7334/><i class="fab fa-facebook"></i></a>
                        <a href=https://www.linkedin.com/in/oskar-johansson-17775129a /><i class="fab fa-linkedin"></i></a>
                        <a href=https://www.instagram.com/oskarjohanssons /><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
