@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="text-center">@ViewData["Title"]</h2>
                    <form id="account" method="post">
                        <h5 class="text-center mb-4">Use a local account to log in</h5>
                        <div asp-validation-summary="ModelOnly" class="text-danger text-center mb-3" role="alert"></div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email">Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.Password">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="form-check mb-3">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            <label class="form-check-label" asp-for="Input.RememberMe">Remember Me</label>
                        </div>

                        <button id="login-submit" type="submit" class="btn btn-primary w-100">Log in</button>

                       @*  <div class="text-center mt-3">
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </div> *@
                    </form>

                    @* <hr />

                    <div class="text-center">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-link">Register as a new user</a>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="btn btn-link">Resend email confirmation</a>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
